h1{
    color:dodgerblue;
    background-color: blanchedalmond;
    padding: 5px;
    border: radius 10px;
    border: 2xp solid;
}
h1:hover{
    background-color: blueviolet;
    border: 2xp solid;
}
img{
    /*width: 50%; */
    width: 300px;
}
body{
    background-color:rgb(157, 185, 209)
}